# Игнорируем виртуальное окружение
venv/
.env

# Игнорируем кеши и временные файлы
__pycache__/
*.pyc
*.pyo
.DS_Store

# Игнорируем файлы зависимостей (их можно установить через requirements.txt)
node_modules/
package-lock.json

# Игнорируем временные файлы IDE
.vscode/
.idea/

